@value makerWhite from '../../common/colors.css';
@value mediaQuery from '../../common/size.css';
.wrapper {
  margin: auto;
  width: 100%;
  background-color: makerWhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  display: flex;
  flex-grow: 1;
}
.cardMaker {
  flex-basis: 50%;
}

.cardPreview {
  flex-basis: 50%;
}

@media screen and (max-width: mediaQuery) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .cardMaker {
    width: 100%;
  }

  .cardPreview {
    width: 100%;
  }
}
