*{
  box-sizing: border-box;
}

.appWrapper{
  max-width: 1000px;
  margin: auto;
  background-color: bisque;
}
.videoWrapper{
  display: flex;
}
.detail{
flex: 1 1 70%;
}
.videoList{
flex: 1 1 30%;
}
@media screen and (max-width:600px){
  
.videoWrapper{
  display: flex;
  flex-direction: column;
}
}
/* fonts */
@font-face { 
  font-family: 'ACCchildrenheartOTF-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}