*{
  box-sizing: border-box;
}
/* app */
.appWrapper{
  width: 1000px;
  margin: auto;
  background-color: bisque;
}
/* search */
.searchWrapper{
  display: flex;
  align-items: center;
  padding: 10px;
  
}
.fa-youtube{
  color: red;
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
}
.youtubeText{
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}
.searchInput{
  width: 85%;
  height: 30px;
  font-size: 20px;
  border: 1px solid gray;
  outline: none;
}
.searchButton{
  height: 30px;
  width: 40px
}

/* video */
.videoBox{
  display: flex;
  width: 48%;
  background-color: white;
  padding: 5px;
  -webkit-box-shadow: 3px 3px 4px 3px rgba(168,168,168,1);
  -moz-box-shadow: 3px 3px 4px 3px rgba(168,168,168,1);
  box-shadow: 3px 3px 4px 3px rgba(168,168,168,1);
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
.videoBox:hover{
  transform: scale(1.05);
}

.videoWrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 30px;
}
/* fonts */
@font-face { 
  font-family: 'ACCchildrenheartOTF-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}