@value makerLightPink, makerLightGrey ,makerPink from '../../common/colors.css';
.container {
  position: relative;
}
.buttonActive {
  display: inline-block;
  width: 100%;
  background-color: makerLightPink;
  height: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  box-sizing: content-box;
  padding: 10px 0;
}
.button {
  display: inline-block;
  width: 100%;
  background-color: makerLightGrey;
  height: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8rem;
  box-sizing: content-box;
  padding: 10px 0;
}
.button:hover {
  opacity: 0.8;
}
.input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.loading {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid makerLightGrey;
  border-top: 2px solid makerPink;
  position: absolute;
  left: 47%;
  top: 5px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
