@value makerGrey from './common/colors.css';
*{
  box-sizing: border-box;
  margin: 0;
}
.login{
  width: 1000px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.loginWrapper{
  display: flex;
  align-items: center;
  background-color: makerGrey;
  height: 100vh;
}